<div class="df-foot">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 df-foot-nav">
      <div class="col-xs-12 col-sm-6 df-nav"> 
        <div class="df-name">关注梦境工厂</div>
        <ul >
          <li ><a href="http://weibo.com/u/3776836811" target="_blank">新浪微博</a>
          </li>
          <li ><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">微信</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 df-nav"> 
        <div class="df-name">下载移动客户端</div>
        <ul >
          <li ><a href="http://dreampy-media.stor.sinaapp.com/DreamFactory_web.apk">Android</a>
          </li>
          <li ><a href="javascript:void(0)">iOS(coming soon...)</a></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6 hidden-xs">
      <div class="df-copyright df-copyright-right">
        <p><img src="{{STATIC_URL}}images/webapp/ic_launcher_72.png"></p>
        <p> © 2014 <b>Tenpage</b></p>
      </div>
    </div>

    <div class="col-xs-12 visible-xs">
      <div class="df-copyright">
        <p><img src="{{STATIC_URL}}images/webapp/ic_launcher_72.png"></p>
        <p> © 2014 <b>Tenpage</b></p>
      </div>
    </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">微信</h4>
      </div>
      <div class="modal-body">
        <div>
          <p><img src="{{STATIC_URL}}images/qrcode_weixin.jpg">关注微信帐号：<strong>mengjing_gongchang</strong></p>
        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript" src="http://tajs.qq.com/stats?sId=32282616" charset="UTF-8"></script>