<html>
  <head>
    <title>范硕和李思斯的主页</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta name="description" content="" />
    <meta name="author" content="fatsoon" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/web_styles.css">
    <link href="http://cdn.bootcss.com/responsive-nav.js/1.0.32/responsive-nav.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script>
    var doc = document, docEl = doc.documentElement;
    docEl.className = docEl.className.replace(/(^|\s)no-js(\s|$)/, " js ");
    </script>
    <script src="http://cdn.bootcss.com/responsive-nav.js/1.0.32/responsive-nav.min.js"></script>
    <!-- ------------------------------------ -->
    <!-- 深深地鄙视一下你们这些看源码的人。 (#‵′)凸  -->
    <!-- ------------------------------------ -->
</head>
<body>

  <div role="navigation" id="foo" class="nav-collapse">
    <ul>
      <li class="active"><a href="#">伟人的简史</a></li>
      <li><a href="/web/impress/">对大家说</a></li>
      <li><a href="#">看他俩的照片</a></li>
      <li><a href="#">祝（tu）福（cao）这俩货</a></li>
      <li><a href="#">鸣谢</a></li>
    </ul>
  </div>

  <div role="main" class="main">
    <a href="#nav" class="nav-toggle">Menu</a>
    <h1>伟人的简史</h1>

    <p class="intro">我们是地地道道的农民，这是一个挺尴尬的身份，我们自己都感觉有点不伦不类，似是而非。说我们是农民，其实已经有点名不副实，我们基本不再和土地打交道，犁耧锄耙也很少再拿起；说我们是城里人，我们没名没份，也名不正言不顺，更没人承认，我们只是客居而已，不过就是打打零工，做做小生意。我们只能在夹缝中生存，充其量是个边缘人。</p>

    <p>
      八月份的时候，等到夏粮入仓，秋收也就正式开始了。秋天的白天已经是很短，为了节省时间中午一般是不回家的，只是凑合的吃点带来的干粮再继续干活。秋天的太阳很烈，我总是会在每年刨籽瓜的时候会被太阳晒伤，耳朵上，胳膊上，甚至是腿上也会褪几层皮，唯一可以幸免的只有手，每天在瓜汁里泡的愈发的白了。
    </p>
    <p>
      农村的活似乎永远也干不完，籽瓜刚刨完，就要割葵花、掰玉米了，玉米和葵花对于我来说实在是太高了，我总是得仰起脸来才能够得着它们，于是总是灰尘掉到我的脸上和眼睛里，而大多数人都会对这些东西过敏，于是脸就会很疼，像有小针刺着一样。
    </p>
    <p>
      每天晚上回家的时候都要把收割好的玉米和葵花装到车里拉回家。为了多拉一些，车上总要安上超高架，而且还要把车装的特别平整，这样在不至于在路上丢掉。
    </p>
    <p>
      当然仅仅是每天晚上拉一趟肯定是拉不完的，这就需要我们每天早晨在妈妈做饭的空档，和爸爸一起去先拉一两趟。最后，还要集中几天的时间拉玉米杆和葵花杆，我身体矮小，又不太会用力，所以要把这些高大的杆子抱上车很不容易，记得有一次，因为秋霜，脚底下比较滑，在用力向上的时候脚下一滑，一下子就从三米多高的车上掉了下来，身体的重重的磕在了车身上，然后掉在地上，当时摔的很疼，直想哭，当然更心疼的是爸爸和妈妈，于是也只能是装着无所谓的样子，笑着站起来继续干活。
    </p>
    <p>
      等到把所有的东西都拉回家里的时候，我们也该去学校的了，接下来爸爸还要浇地，为来年打基础，妈妈则是要留在家里，收拾葵花籽。而这一切的结束，也标志着农民辛苦的一年就要结束了，所有的活也不再那么紧张，慢慢的做即可。记忆中的秋天永远忙碌而辛苦，中午顶着烈日也要干活，夏天的新鲜蔬菜也没有了，一切都开始凋零，但是秋天毕竟是收获的季节。
    </p>
    <p>
      每一次把一块地清理干净的时候，我们便松了一口气，每个早晨醒来的时候，心中都不敢有一丝懈怠，赶快投入到新的一天中，每个夜晚入睡的时候，心里是说不出的充实，每一次坐在爸爸的车上，颠簸在乡村的土路上，心里真的有一种自然的收获的喜悦。
    </p>
  </div>

  <script>
  var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
  </script>
</body>
</html>
